.Nav {
  background-color:rgba(218, 112, 214, 0.466);
  
  height: 100vh;
  padding: 5%;
  color:yellow;
  text-align: center;
}
button {
  padding: 12px 20px;
  background-color:slategrey;
  margin: 30px;
  
  font-family: sans-serif;
border-radius: 6px;
text-align: center;
display:flexbox;
align-items: center;
line-height: 22px;
border: none;

}

.admin{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px;
background-color: beige;
}

